html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --main-blue: #00427a;
    --main-green: #51830e;
    --dark-blue: #002749;
    --new-red: #c51d22;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.link-unstyled {
    color: inherit; /*removes the blue color*/
    text-decoration: none; /*removes the underline*/
}

.clickable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

    .clickable:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .clickable:active {
        transform: scale(0.98);
        box-shadow: none;
    }

    .clickable a {
        text-decoration: none;
    }

.navbar-brand h1 {
    color: var(--main-blue);
    display: inline;
}

.navbar-brand img {
    height: 25%;
    width: 25%;
    overflow: hidden;
    margin-top: -6px;
    padding-right: 5%;
}

body {
    color: var(--dark-blue);
    background: var(--dark-blue);
    background: linear-gradient(0deg, rgba(0,39,73,1) 0%, rgba(0,66,122,1) 100%);
}



/*--------- SHARED STYLES ---------*/

/* -- General Colours & Format -- */
.blue-background {
    margin-top: 2%;
    margin-bottom: 7%;
}

header, nav {
    background: white;
}

.color-white {
    color: white;
}


.main-content {
    background: white;
    border-radius: 10px;
    margin: 0 2%;
    padding: 2%;
    height: inherit;
}


footer {
    background: white;
}

a:hover {
    color: inherit;
}

.navbar-content {
    text-align: right;
}

.nav-link {
    color: var(--main-blue)
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: var(--main-blue);
}
/* ----- Buttons ----- */
button, .blue-button {
    border-radius: 5px;
    background: var(--main-blue);
    color: white;
    width: 200px;
    height: 40px;
}

    button a, blue-button a, button a:hover, blue-button a:hover {
        color: white;
        text-decoration: none;
    }
    
    blue-button:hover {
        background-color: var(--main-green);
        border-color: var(--main-green);
    }

.btn:hover {
    color: lightblue;
}
.dark-blue-button {
    background: var(--dark-blue);
    width: 170px;
    border-color: var(--dark-blue);
}

.green-button {
    background: var(--main-green);
    border-color: var(--main-green);
    width: 200px;
}

/* ---- Page Title Area ---- */
.page-title-with-button {
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin: 0 1.5% 0 0;
    padding-bottom: 1rem;
}

    .page-title-with-button button {
        align-self: center;
        background: var(--main-blue);
        border-color: var(--main-blue);
    }
    .page-title-with-button h2 {
        margin-left: 5%;
    }

.right-button {
    width: fit-content;
    float: end;
}

.page-title-with-back-menu {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    margin: 0 1.5% 0 0;
    padding-bottom: 1rem;
    align-items: center;
}

    .page-title-with-back-menu h1 {
        text-align: center;
    }

    .page-title-with-back-menu a {
        text-decoration: none;
        color: black;
    }

.action-icons {
    align-content: center;
    display: flex;
    justify-content: end;
}


/* --- Cards --- */

.card {
    border-radius: 5px;
}


.card-heading {
    background: var(--main-green);
    color: white;
    text-align: center;
    padding: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-icon {
    text-align: right;
    font-weight: normal;
    margin: 0 2% 0 2%;
    grid-column-start: 3;
    color: white;
    margin: auto;
    margin-bottom: 0.5rem;
}

    .card-icon a {
        padding: 0 3px 0 3px;
    }

.large-card {
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
}

.large-card-body {
    padding: 0 2% 0 2%;
}

.large-card-heading {
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-content: center;
}

    .large-card-heading .card-title {
        grid-column-start: 1;
        text-align: left;
    }

.card-title {
    grid-column-start: 2;
}

.card-date {
    text-align: left;
    margin: 0;
}


/*--------- HOME - INDEX ---------*/


.red-button {
    border-radius: 5px;
    background: var(--new-red);
    border-color: var(--new-red);
    color: white;
    width: 200px;
    height: 40px;
}

.welcome-content {
    
    
    margin-top: 5%;
    margin-bottom: 1%;
}

.login-content {
    width: 80%;
    height: 80%;
    margin: 2% auto;
}

.welcome-button {
    border-radius: 5px;
    background: var(--main-blue);
    color: white;
    width: 200px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 1%;
}

.welcome-link {
    color: var(--main-blue);
}

.upcoming-card {
    margin: 1rem auto;
    padding: 1% 1%;
    align-content: baseline;
}

.upcoming-date {
    text-align: end;
    margin-bottom: 0;
}
.upcoming-title {
    text-align: left;
    margin-bottom: 0;
}

.home-div {
    margin: 10% auto;
}

.home-title {
    margin: 2% auto;
}

.home-content {
    width: 80%;
}



/*--------- COURSES LIST ---------*/
.course-name {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

    .course-name a {
        grid-column-start: 2;
    }

.course-teacher {
    font-weight: bold;
}


/* ----- ASSIGNMENTS ----- */

.accordion {
    width: 90%;
    margin: auto;
    border-color: var(--dark-blue);
}

.accordion-header {
    height: max-content;
}

.accordion-button {
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    align-content: baseline;
    height: min-content;
    color: var(--dark-blue);
}

    .accordion-button p {
        text-align: right;
        margin-bottom: 0.5rem;
    }

.red-card {
    border-color: var(--new-red);
    width: 50%;
    margin: 5% auto;
}

.red-card-heading {
    color: var(--new-red);
    border-bottom: 1px solid var(--new-red);
    text-align: center;
    padding-top: 2%;
}

.form-floating {
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.group {
    padding: 5%;
    border-radius: 5px;
    background: var(--dark-blue);
    margin: 5px 0px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

.chat_body {
    height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.less_padding {
    padding: 2px;
}

.chat_message {
    padding: 13px;
    border-radius: 5px;
    width: 50%;
    background: #85C1E9;
    margin: 6px 4px;
}

.chat_main {
    /*background-color: #957bbe;*/
    height: 95%;
    padding: 0px;
    border-radius: 5px;
}

.group_main {
    /*background: rgb(57, 125, 192);*/
    border-radius: 5px;
    padding-left: 0.5rem;
}