@model Course

@{
	ViewData["Title"] = "Classlist";
}
@await Html.PartialAsync("_CourseNavbar")


<h2 class="m-4">Classlist</h2>

<table class="table">
	<thead>
		<tr>
			<th>Student Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model.Students)
		{
				<tr>
					<td>@student.UserName</td>
				</tr>
		}
	</tbody>
</table>