@model Assignment

<div class="main-content">
<div class="page-title-with-back-menu">
	<a asp-controller="Assignments" asp-action="Index" asp-route-id="@Model.CourseId"  class="">
		<i class="bi bi-chevron-left"></i>
		Cancel
	</a>
	<h1 class="">New Assignment</h1>
</div>

<form asp-controller="Assignments" asp-action="Create" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="Title" class="control-label"></label>
		<input asp-for="Title" class="form-control" />
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description" class="control-label"></label>
		<input asp-for="Description" class="form-control" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DueDate" class="control-label"></label>
		<input asp-for="DueDate" type="datetime-local" value="@Model.DueDate.ToString("yyyy-MM-dd")" class="form-control" />
		<span asp-validation-for="DueDate" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="files" form-control="form-label">Assignment Files</label>
		<input type="file" class="form-control" id="files" name="files" multiple>
	</div>
	<div class="text-center m-5">
		<button type="submit" class="">Create</button>
	</div>
</form>
</div>