@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	
	@if (SignInManager.IsSignedIn(User))
	{
		<p>This should be the courses soon!</p>
	}
	else
	{
		<h1 class="display-4">Welcome!</h1>
		<img class="welcome-content" src="img/LUGC-logo.gif" alt="logo">
			<button class="welcome-content"><a class="" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
			<a class="welcome-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
		
		}
</div>
