@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<p>
    Lakehead University (the “University”) is committed to preserving your right to privacy. We ensure that the confidentiality of your information is maintained and the collection,
    use and disclosure of your information is in compliance with the applicable Ontario privacy laws, The Freedom of Information and Protection of Privacy Act (“FIPPA”) and The Personal
    Health Information Act (“PHIA”). This page summarizes the privacy policies and practices that govern all Lakehead University websites.
</p>

<p>
    The personal information collected by the University’s websites are not distributed to any private organizations or used for commercial marketing. Any personal information you
    provide to the University via its website is managed in accordance with FIPPA. Where a Lakehead University website collects additional information, such as personal health information,
    a statement of purpose and/or specific privacy policies will be available. Please be sure to read these statements and privacy policies.
</p>
